<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380343106030-9qt28q4e5anteveihqpkcsrkukcfcgt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380343106030-9qt28q4e5anteveihqpkcsrkukcfcgt8</string>
	<key>API_KEY</key>
	<string>AIzaSyDUq8B5S7R659FyzH58-rE1j8k5ktdd2S4</string>
	<key>GCM_SENDER_ID</key>
	<string>380343106030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JustinStares1.Swap2</string>
	<key>PROJECT_ID</key>
	<string>swap-2b365</string>
	<key>STORAGE_BUCKET</key>
	<string>swap-2b365.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:380343106030:ios:f7f76dbe2d8fb60ec8b6ff</string>
	<key>DATABASE_URL</key>
	<string>https://swap-2b365.firebaseio.com</string>
</dict>
</plist>
